@model Tuple<List<ShowWorkBooksViewModel>, int, int>
@{
    ViewData["Title"] = "کارنامه ها";
}
<section class="p-5">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card mb-1">
            <div class="card py-3">
                <h5 class="px-3"> <i class="fa fa-search"></i> جستجو</h5>
                <hr />
                <div class="row justify-content-between pr-3">
                    <form class="col-md-4 position-relative mb-3 mb-md-0" href="/AdminPanel/ShowWorkBooks" method="get">
                        <input name="search" class="form-control mr-auto" placeholder="نام درس ..." style="padding-left: 65px">
                        <button type="submit" class="btn btn-primary ml-2 position-absolute" style="left: 4px; top: 0; height: 100%; border-radius: 2px;">
                            ثبت
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h6 class="card-title col-md-2">لیست کارنامه ها</h6>
                    </div>
                    <div class="table-responsive pt-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        عنوان آزمون
                                    </th>
                                    <th class="text-center">
                                        دانش آموز
                                    </th>
                                    <th class="text-center">
                                        تاریخ برگزاری
                                    </th>
                                    <th class="text-center">
                                        تعداد سوال
                                    </th>
                                    <th class="text-center">
                                        درست
                                    </th>
                                    <th class="text-center">
                                        غلط
                                    </th>
                                    <th class="text-center">
                                        بی پاسخ
                                    </th>
                                    <th class="text-center">
                                        درصد کل
                                    </th>
                                    <th class="text-center">
                                        عملیات
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Item1)
                                {
                                    <tr>

                                        <td class="text-center">
                                            @item.TestTitle
                                        </td>
                                        <td class="text-center">
                                            @item.StudentName
                                        </td>
                                        <td class="text-center">
                                            @item.TestDayTime
                                        </td>
                                        <td class="text-center">
                                            @item.QuestionCounts
                                        </td>
                                        <td class="text-center">
                                            @item.TrueAnswers
                                        </td>
                                        <td class="text-center">
                                            @item.WrongAnswers
                                        </td>
                                        <td class="text-center">
                                            @item.NoCheckedAnswers
                                        </td>
                                        <td class="text-center">
                                            @item.Score %
                                        </td>
                                        <td class="text-center">
                                            <div class="dropdown mb-2">
                                                <button class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon-lg text-muted pb-3px"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item d-flex align-items-center" href="/StudentPanel/ShowSingleWorkBook/@item.StudentId/@item.TestId/@item.TestFile/@item.TestTitle"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text ml-1"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg><span class="">مشاهده کارنامه</span></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (Model.Item2 > 1)
                        {
                            <div class="dataTables_paginate paging_simple_numbers py-3 d-flex justify-content-center" id="dataTableExample_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous @((Model.Item3 - 1 == 0) ? "disabled" : "")" id="dataTableExample_previous">
                                        <a href="/StudentPanel/WorkBooks?page=@(Model.Item3 - 1)&search=@ViewBag.Search" aria-controls="dataTableExample" data-dt-idx="0" tabindex="0" class="page-link">قبلی</a>
                                    </li>
                                    @for (int i = 1; i <= (Model.Item2); i++)
                                    {
                                        <li class="paginate_button page-item @(Model.Item3 == i ? "active" : "")">
                                            <a href="/StudentPanel/WorkBooks?page=@i&search=@ViewBag.Search" aria-controls="dataTableExample" data-dt-idx="1" tabindex="0" class="page-link">@i</a>
                                        </li>
                                    }
                                    <li class="paginate_button page-item @((Model.Item3 + 1 > Model.Item2) ? "disabled" : "")" id="dataTableExample_next">
                                        <a href="/StudentPanel/WorkBooks?page=@(Model.Item3 + 1)&search=@ViewBag.Search" aria-controls="dataTableExample" data-dt-idx="4" tabindex="0" class="page-link">بعدی</a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="/js/Alert.js" asp-append-version="true"></script>
    <script src="~/Percian-Calender/src/kamadatepicker.min.js"></script>
    <script type="text/javascript" src="~/clock/dist/bootstrap-clockpicker.min.js"></script>
    <script type="text/javascript" src="/clock/assets/js/scripts.js"></script>
}
@section Css
{
    <link rel="stylesheet" href="~/Percian-Calender/style/kamadatepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/clock/dist/bootstrap-clockpicker.min.css">
    <link rel="stylesheet" href="/clock/assets/css/styles.css" />
    <link rel="stylesheet" href="/css/AdminStyles.css" asp-append-version="true" />
}